
@import './variables';
@import './mixins';
@import './components/header';


.test {
    color: $text-color;
    font-size: rem(44);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-color {
    background-color: $bg-color ;
    width: 100vw;
    height: 100vh;
    color: $text-color;
}

.container {
    max-width: $container-width;
    padding-left: rem(16);
    padding-right: rem(16);
    margin: 0 auto;
}